* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter',  sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f5f9;
}

.wrapper {
    width: 100%;
    padding: 20px;
}

.card {
    max-width: 500px;
    margin: auto;
    background: #1e293b;
    padding: 45px 40px;
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-4px);
}

h1 {
    font-weight: 600px;
    margin: 0 0 10px 0;
    font-size: 28px;
    letter-spacing: -0.5px;
}

.tagline {
    font-weight: 400;
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 30px;
    line-height: 1.6;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px 14px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    outline: none;
}

button {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background: #3b82f6;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #2563eb;
}

.result {
    margin-top: 25px;
    font-size: 14px;
    word-break: break-word;
}

.result a {
    color: #60a5fa;
    text-decoration: none;
    font-weight: 500;
}

.result a:hover {
    text-decoration: underline;
}

/* Mobile Responsive */
@media (max-width: 500px) {
    .input-group {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}
